/* body {
    font-family: Arial, sans-serif;
    background: url('https://pixy.org/src/20/201310.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#downloadLink {
    margin-top: 20px;
}

#downloadButton {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

#downloadButton:hover {
    background-color: #218838;
} */



body {
    font-family: Arial, sans-serif;
    background: url('https://pixy.org/src/20/201310.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#downloadLink {
    margin-top: 20px;
}

#downloadButton {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

#downloadButton:hover {
    background-color: #218838;
}
